/* styles.css */

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7; /* Light gray background color */
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #333;
    color: white;
}

.logo-container {
    max-width: 80px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #333; /* Dark gray background color */
}

.logo {
    width: 100%;
    height: auto;
    display: block;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
